<app-main-page icon="bi-pencil" title="Teachers Sign Up">
  <div class="row">
    <div class="col">
      <img class="w-100 img-thumbnail" src="/assets/images/teacher-cover.jpg" alt="Teacher Cover">
    </div>
    <div class="col-4">
      <form [formGroup]="form">
        <app-form-group label="Name" [valid]="form.get('name')!.valid">
          <input formControlName="name" type="text" class="form-control" placeholder="Enter your name">
        </app-form-group>

        <app-form-group label="Email" [valid]="form.get('email')!.valid">
          <input formControlName="email" type="email" class="form-control" placeholder="Enter your email">
        </app-form-group>

        <app-form-group label="Password" [valid]="form.get('password')!.valid">
          <input formControlName="password" type="password" class="form-control" placeholder="Enter Password">
        </app-form-group>

        <button [class.disabled]="!form.valid" type="button" (click)="signUp()" class="btn btn-outline-success">
          <i class="bi bi-unlock"></i> Sign Up
        </button>
      </form>
    </div>
  </div>
</app-main-page>
