<app-main-page icon="bi-book" title="Our Courses">
  <div class="row">

    <div *ngIf="categories.length" class="col-3">
      <!-- Category Links -->
      <div class="list-group">
        <a hoverable="bg-success-subtle"
          [class.bg-success]="!searchForm.get('category')?.value" [class.text-white]="!searchForm.get('category')?.value"
          (click)="searchAllCategory()" class="list-group-item">All Category</a>

        <a (click)="searchByCategory(item.id)" hoverable="bg-success-subtle"
          [class.bg-success]="searchForm.get('category')?.value == item.id"
          [class.text-white]="searchForm.get('category')?.value == item.id"
          class="list-group-item" *ngFor="let item of categories">
          {{item.name}}
        </a>
      </div>

    </div>

    <div class="col">
      <!-- Search Bar -->
      <div class="card mb-3">
        <form [formGroup]="searchForm" class="card-body">
          <h4>Search Course</h4>
          <div class="row">
            <div class="col-6">
              <input formControlName="keyword" type="text" placeholder="Search Keyword" class="form-control">
            </div>
            <div class="col">
              <button (click)="search()" class="btn btn-success">
                <i class="bi bi-search"></i> Search
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Search Result -->
      <div *ngIf="courseList.length" class="row row-cols-3  g-3 mb-3">
        <div class="col" *ngFor="let item of courseList">
          <app-course-item [course]="item" (showDetailsListener)="showDetails($event)" ></app-course-item>
        </div>
      </div>

      <app-pagination alighment="end" [pager]="pager" [sizes]="sizes"
        (onPageLinkClick)="changePage($event)"
        (onPageSizeChange)="changePageSize($event)"></app-pagination>

      <div *ngIf="!courseList.length" class="alert alert-info">
        There is no data.
      </div>

    </div>

  </div>
</app-main-page>

