<nav class="navbar navbar-expand bg-success navbar-dark">
  <div class="container-fluid">
    <a [routerLink]="['/admin', 'public']" class="navbar-brand">
      <i class="bi bi-mortarboard"></i> The Learners
    </a>

    <ul class="navbar-nav">

      <li class="nav-item">
        <a [routerLink]="['/admin', 'home']" routerLinkActive="active" class="nav-link">
          <i class="bi bi-house"></i> Home
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/admin', 'registrations']" routerLinkActive="active" class="nav-link">
          <i class="bi bi-pen"></i> Registrations
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/admin', 'courses']" routerLinkActive="active"  class="nav-link">
          <i class="bi bi-book"></i> Courses
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/admin', 'payment']" routerLinkActive="active"  class="nav-link">
          <i class="bi bi-credit-card"></i> Payments
        </a>
      </li>

      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <i class="bi bi-people-fill"></i> Members
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" [routerLink]="['/admin', 'teachers']" routerLinkActive="active" >
              Teachers
            </a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/admin', 'students']" routerLinkActive="active" >
              Students
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a (click)="signOut()" class="nav-link">
          <i class="bi bi-lock"></i> Sign Out
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- contents -->
<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>
