<app-main-page icon="bi-unlock" title="Sign In">

  <div class="row">
    <div class="col">
      <img class="w-100 img-thumbnail" src="/assets/images/signin-cover.jpg" alt="Sign In Cover Image">
    </div>
    <div class="col-4">
      <form [formGroup]="form">

        <app-form-group [valid]="form.get('email')!.valid" label="Email Address">
          <input formControlName="email" type="email" class="form-control" placeholder="Enter your email">
        </app-form-group>

        <app-form-group [valid]="form.get('password')!.valid" label="Password" >
          <input formControlName="password" type="password" placeholder="Enter Password" class="form-control">
        </app-form-group>

        <button [class.disabled]="!form.valid" type="button" (click)="signIn()" class="btn btn-outline-success">
          <i class="bi bi-unlock"></i> Sign In
        </button>
      </form>

    </div>
  </div>
</app-main-page>
