<app-main-page icon="bi-house" title="Student's Home">

  <div class="row">

    <div class="col">
      <!-- Student's Course -->
      <div class="row row-cols-3 g-3" >
        <div class="col" *ngFor="let item of courses" >
          <app-course-item (showDetailsListener)="showDetails($event)" [course]="item"></app-course-item>
        </div>
      </div>
    </div>

    <div class="col-3">
      <!-- Profile -->
      <app-member-profile btnColor="btn-success" [email]="email" [canEdit]="true"></app-member-profile>
    </div>
  </div>

</app-main-page>
