<div class="card">
  <div class="card-header">
    Profile
  </div>
  <div class="card-body">

    <!-- Profile Image  -->
    <img class="img-fluid w-100" [src]="profile?.image || '/assets/images/profile.png'" alt="">

    <div class="list-group mt-3">
      <!-- Name -->
      <div class="list-group-item">
        <i class="bi bi-person"></i> {{profile?.name || 'User Name'}}
      </div>
      <!-- Phone -->
      <div class="list-group-item">
        <i class="bi bi-telephone"></i> {{profile?.phone || '099-110-22929'}}
      </div>
      <!-- Email -->
      <div class="list-group-item">
        <i class="bi bi-envelope"></i> {{profile?.email || 'teacher@gmail.com'}}
      </div>
    </div>

    <div *ngIf="canEdit" class="mt-3 row gx-2">
      <div class="col">
        <span class="btn btn-primary d-block">
          <i class="bi bi-camera"></i> Upload
        </span>
      </div>
      <div class="col">
        <span (click)="edit()" class="btn btn-primary d-block">
          <i class="bi bi-pencil"></i> Edit
        </span>
      </div>
    </div>

  </div>
</div>

<app-modal-dialog modelId="profileEditDialog">
  <h4 header>
    <i class="bi bi-pencil"></i> Edit Profile
  </h4>
  <form body [formGroup]="form">
    <app-form-group label="Name" [valid]="form.get('name')?.valid ?? false">
      <input type="text" placeholder="Enter Name" formControlName="name" class="form-control">
    </app-form-group>
    <app-form-group label="Phone" [valid]="form.get('phone')?.valid ?? false">
      <input type="text" placeholder="Enter Phone" formControlName="phone" class="form-control">
    </app-form-group>
    <app-form-group label="Email" [valid]="form.get('email')?.valid ?? false">
      <input type="email" placeholder="Enter Email" formControlName="email" class="form-control">
    </app-form-group>
  </form>

  <div footer>
    <button (click)="save()" class="btn btn-outline-primary">
      <i class="bi bi-save"></i> Save
    </button>
  </div>
</app-modal-dialog>
