<div *ngIf="profile" class="card shadow-sm">
  <div class="card-header bg-success-subtle">
    {{profileType}} Profile
  </div>
  <div class="card-body">

    <!-- Profile Image  -->
    <div class="d-flex justify-content-center py-3">
      <img class="profile" [src]="profile.image | profileImage" alt="">
    </div>

    <div class="list-group mt-3">
      <!-- Name -->
      <div class="list-group-item">
        <i class="bi bi-person"></i> {{profile.name}}
      </div>
      <!-- Phone -->
      <div class="list-group-item">
        <i class="bi bi-telephone"></i> {{profile.phone || 'No Phone Number'}}
      </div>
      <!-- Email -->
      <div class="list-group-item">
        <i class="bi bi-envelope"></i> {{profile.email}}
      </div>
    </div>

    <div *ngIf="canEdit" class="mt-3 row gx-2">
      <div class="col">
        <span (click)="imageInput.click()" class="btn d-block" [ngClass]="btnColor ?? 'btn-success'">
          <i class="bi bi-camera"></i> Upload
        </span>
      </div>
      <div class="col">
        <span (click)="edit()" class="btn d-block" [ngClass]="btnColor ?? 'btn-success'">
          <i class="bi bi-pencil"></i> Edit
        </span>
      </div>
    </div>

  </div>
</div>

<app-modal-dialog modelId="profileEditDialog">
  <h4 header>
    <i class="bi bi-pencil"></i> Edit Profile
  </h4>
  <form body [formGroup]="form">
    <app-form-group label="Name" [valid]="form.get('name')?.valid ?? false">
      <input type="text" placeholder="Enter Name" formControlName="name" class="form-control">
    </app-form-group>
    <app-form-group label="Phone" [valid]="form.get('phone')?.valid ?? false">
      <input type="text" placeholder="Enter Phone" formControlName="phone" class="form-control">
    </app-form-group>
    <app-form-group label="Email" [valid]="form.get('email')?.valid ?? false">
      <input type="email" readonly placeholder="Enter Email" formControlName="email" class="form-control">
    </app-form-group>
  </form>

  <div footer>
    <button (click)="save()" class="btn" [ngClass]="btnColor ?? 'btn-primary'">
      <i class="bi bi-save"></i> Save
    </button>
  </div>
</app-modal-dialog>

<form class="d-none">
  <input (change)="uploadImage(imageInput.files)" type="file" #imageInput >
</form>
