<div *ngIf="dto" class="card d-flex flex-row shadow-sm">
  <img class="course-cover" [src]="dto?.image | courseImage" alt="">
  <div class="bg-success-subtle w-100 py-4 px-5">
    <h1 class="card-title">{{dto.name}}</h1>
    <h5>{{dto.category.name}}</h5>

    <p>{{dto.description}}</p>

    <div class="d-flex flex-wrap">
      <div class="me-4">
        <i class="bi bi-info-square"></i> {{dto.updateAt}} Update
      </div>

      <div class="me-4">
        <i class="bi bi-clock"></i> {{dto.hours}} Hours
      </div>

      <div class="me-4">
        <i class="bi bi-cart"></i> {{dto.fees | number}} MMK
      </div>

      <div class="me-4">
        <i class="bi bi-people"></i> {{dto.students}} Students
      </div>
    </div>

    <div *ngIf="!hideControls">
      <div *ngIf="dto.type == 'PROMOTE'" class="mt-4">
        <button (click)="takeRegistration()" class="btn btn-outline-success">
          <i class="bi bi-plus"></i> Take this course.
        </button>
      </div>

      <div *ngIf="dto.type == 'OWN_COURSE'" class="mt-4">
        <button (click)="imageInput.click()" class="btn btn-outline-success me-2">
          <i class="bi bi-camera"></i> Upload
        </button>
        <button (click)="editCourse()" class="btn btn-outline-success me-2">
          <i class="bi bi-pencil"></i> Edit Course
        </button>
        <button (click)="goToClassRoom()" class="btn btn-outline-success">
          <i class="bi bi-laptop"></i> Class Room
        </button>
      </div>

      <div *ngIf="dto.type == 'ATTEND_COURSE'" class="mt-4">
        <button (click)="goToClassRoom()" class="btn btn-outline-success">
          <i class="bi bi-laptop"></i> Class Room
        </button>
      </div>
    </div>

  </div>

  <form class="d-none">
    <input (change)="uploadImage(imageInput.files)" type="file" #imageInput >
  </form>
</div>

