<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-3 d-flex justify-content-center">
        <img height="240px" src="/assets/images/java-logo.png" alt="">
      </div>

      <div class="col">
        <h1 class="card-title">Learn Java From Basic</h1>
        <h5>Programming</h5>

        <p>Learn Java like a Professional Start from the basics and go all the way to creating your own applications.</p>

        <div class="d-flex">
          <div class="me-4">
            <i class="bi bi-info-square"></i> 2023-04-01 Update
          </div>

          <div class="me-4">
            <i class="bi bi-clock"></i> 90 Hours
          </div>

          <div class="me-4">
            <i class="bi bi-laptop"></i> 12 Lessons
          </div>

          <div class="me-4">
            <i class="bi bi-cart"></i> 120,000 MMK
          </div>
        </div>

        <div class="mt-4">
          <button class="btn btn-outline-primary">
            <i class="bi bi-plus"></i> Take this course.
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
