<app-main-page icon="bi-people" title="Teachers">
  <app-search-table [empty]="list.length == 0">

    <!-- Search Form -->
    <form class="row" [formGroup]="form" searchForm>
      <div class="col-auto">
        <app-form-group-simple label="Teacher Name">
          <input type="text" formControlName="teacher" class="form-control" placeholder="Search Student Name">
        </app-form-group-simple>
      </div>
      <div class="col-auto">
        <app-form-group-simple label="Email">
          <input type="email" formControlName="email" class="form-control" placeholder="Search Email">
        </app-form-group-simple>
      </div>
      <div class="col-auto">
        <app-form-group-simple label="Phone">
          <input type="tel" formControlName="phone" class="form-control" placeholder="Search Phone Number">
        </app-form-group-simple>
      </div>

      <div class="col btn-wrapper">
        <button type="button" (click)="search()" class="btn btn-outline-danger">
          <i class="bi bi-search"></i> Search
        </button>
      </div>
    </form>

    <!-- Result Table -->
    <table resultTable class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Registration Date</th>
          <th>Course</th>
          <th>Total Fees</th>
          <th>Agent Fees</th>
          <th>Net Award</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of list">
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.registAt}}</td>
          <td>{{item.courseCount}}</td>
          <td>{{item.totalFees}}</td>
          <td>{{item.agentFees}}</td>
          <td>{{item.netAward}}</td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div pager>
      <app-pagination alighment="start" [pager]="pager" [sizes]="sizes"
        (onPageLinkClick)="changePage($event)"
        (onPageSizeChange)="changePageSize($event)"></app-pagination>
    </div>

  </app-search-table>
</app-main-page>
