<app-main-page icon="bi-book" title="Course Details">
  <div *ngIf="courseDto" class="row">
    <div class="col">
      <!-- Course Information -->
      <app-course-cover [dto]="courseDto" (onFileUpload)="uploadImage($event)" ></app-course-cover>

      <!-- What will you learn -->
      <section class="mt-4">
        <app-course-objectives [courseId]="id"></app-course-objectives>
      </section>

    </div>

    <div class="col-3">
      <!-- Profile of Teacher -->
      <app-member-profile profileType="Teacher" [email]="courseDto?.teacher?.email"></app-member-profile>

      <button *ngIf="courseDto?.teacher?.email != loginId"  (click)="showCoursesForTeacher()" class="btn btn-outline-success w-100 mt-3">
        <i class="bi bi-send"></i> Show Courses for Teacher
      </button>
    </div>
  </div>
</app-main-page>
